div#profile-info-header-container {
    /*background-color: #009900;*/
}

#profile-info-header-container #profile-picture-container {
    height:180px;
    width:180px;
    margin: 0 auto;
    border-radius: 100px;
}

#profile-cover-background {
    height:200px;
}

#profile-container #profile-cover-background span {
    color:#ffffff;
    font-size: 28px;
    position: absolute;
    bottom: 50%;
    right: 20px;
}

#profile-picture-container img#profile-img {
    margin-top: -90px;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#profile-info-header-container #basic-profile-info-container {
    min-height: 220px;
    width: 100%;
    background-color: #ffffff;
    margin-top: -180px;
    border-radius: 4px;
}

#profile-container {
    padding-top: 15px;
}

