/*
======================================
=============STYLING INFO=============
======================================
    title color: #684a08;
    panel,
    panel border,
    panel heading,
          color: #E0E0E0;
    panel bottom
          border: #BDBDBD;
    other text
          color: default;
    required label
          color: 684a08;

======================================
==REMOVED BACKGROUND IMAGES PER PAGE==
======================================
    background: url('../../images/backgrounds/background_2.jpg') no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

======================================
=======OLD CONTAINER BACKGROUND=======
======================================
background-color: rgba(221, 221, 221, 0.33);

*/

.body-content {
    margin-top: 60px;
    /*background-color: rgba(221, 221, 221, 0.33);*/
    min-height: 900px;
}

@media (max-width: 768px) {
    .body-content {
        margin-top: 123px;
    }
}

/*input type elements */

input[type=text],
input[type=date],
input[type=email],
input[type=password],
textarea,
select{
    border: 1px solid #d3d3d3;
}

textarea {
    resize: none;
}

input[type=text].fieldRequired,
input[type=date].fieldRequired,
input[type=email].fieldRequired,
input[type=password].fieldRequired,
textarea.fieldRequired{
    background-image: url('../../../LBlog/assets/images/resources/required.png');
    background-repeat:no-repeat;
    background-position: right center;
}
select.fieldRequired {
    background-image: url('../../../LBlog/assets/images/resources/required2.png');
    background-repeat:no-repeat;
    background-position: right center;
}

.required-fields-legend {
    font-size: 11px;
    color: #684a08;
    font-weight: 100;
    font-style: italic;
}
.form-label-validation-required {
    color: #684a08;
    font-weight: 100;
}

/*Overriding bootstrap panel*/

.panel {
    background-color: #E0E0E0;
}

.panel-default {
    border: medium !important;
}

.panel-default>.panel-heading {
    background-color: #E0E0E0 !important;
    border-color: #E0E0E0;
}

.panel-footer {
    background-color: #E0E0E0 !important;
    border-color: #BDBDBD;
}