body {

}

#registration-container {
    padding-top: 15px;
}

#registration-header {
    color: #684a08;
}

#registration-panel-form {
    padding-top: 15px;
}

.reg-content {
    margin-top: 15px;
}
