body {
    background: url('../../images/backgrounds/background_3.jpg') no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#registration-container {
    padding-top: 15px;
}

#registration-header {
    color: #ffffff;
}

#registration-panel-form {
    padding-top: 15px;
}

#registration-content-description{
    color: #ffffff;
}
.reg-content {
    margin-top: 15px;
}
