.body-content {
    /*background-color: #9e9e9e !important;*/
}

.post-margin {
    margin-top: 15px;
}

#post-list-container {
    /*background-color: #d8e1e1;*/
    /*min-height: 1000px;*/
}

#post-list-contents {
    max-height: 610px;
    min-height: 610px;
    /*overflow-y: scroll;*/
}

#post-list-contents .panel-body.checked{
    background-color: #dddddd;
}

#post-list-contents hr {
    margin: 0 !important;
}

#post-list {
    /*min-height: 815px;
    max-height: 815px;*/
}

#post-list div.panel-heading{
    background-color: #1BBC9B !important;
    color: #ffffff;
}

#post-list-pager ul.pagination {
    margin: 0 !important;
}

.post a .linkPostName {
    text-decoration: none;
}

.post span .img-poster {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.post span.post-time {
    font-size: 11px;
    color: #757575;
}


/*Overriding bootstrap panel*/

.panel {
background-color: #ffffff;/*#f4f2ed;*//*#E1F5FE;*/
}

.panel-default {
/*border: 1px solid #e8e6e2 !important;*/
border: 0 !important;
}

/*post related css*/

#post-content {
    /*min-height: 800px;
    max-height: 800px;*/
}

#post-detail-content {
    min-height: 400px;
    max-height: 500px;
    overflow-y: scroll;
}

#post-content div.panel-heading {
    background-color: #ED575B !important;
    color: #ffffff;
}

#post-content .panel-heading #img-post-owner-pic {
    width: 50px;
    height: 50px;
}

#post-content .panel-heading img#img-post-owner-pic {
    margin-right: 5px;
}

#post-content .panel-heading span a#link-profile-name {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    vertical-align: top;
}

#post-content .panel-footer#post-datetime {
    color: #838383;
    font-size: 12px;
}

